@model DataLayer.Models.Product

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row" style="margin-left: 20px">
    <div class="col-md-4">
        <h5>Add a new product</h5>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <select asp-for="Manufacturer" asp-items="Html.GetEnumSelectList<DataLayer.Models.ManufacturerType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturersId" class="control-label"></label>
                <input asp-for="ManufacturersId" class="form-control" />
                <span asp-validation-for="ManufacturersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="resize:none"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store" class="control-label"></label>
                <select asp-for="Store" asp-items="Html.GetEnumSelectList<DataLayer.Models.StoreName>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Store" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="e.g. 123.95" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyType" class="control-label"></label>
                <select asp-for="BodyType" asp-items="Html.GetEnumSelectList<DataLayer.Models.Body>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="BodyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StringNumber" class="control-label"></label>
                <select asp-for="StringNumber" asp-items="Html.GetEnumSelectList<DataLayer.Models.StringType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="StringNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        Left Handed  <input asp-for="IsLeftHanded" type="checkbox">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
